header {
    text-align: center;
    display: flex;
    gap: 2em;
    flex-direction: column;
    margin-top: 3em;
    padding: 1em;
  }
  
  header h1 {
    text-decoration: underline;
  }


  header .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2em;
  }

src="https://example.com/doc2.jpg"> 
\.cropped-ofp {
width: 80px; 
height: 75px; 
object-fit: cover;
object-position: 25% 25%; 
}
  /* header .wrap img {
    border: 10px solid gray;
  } */
